ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  font-size: 20px;
  margin: 0 5px;
}