ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  padding: 10px 15px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(212, 212, 212, 0.623)
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  font-size: 20px;
  margin: 0 10px;
}

.list-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.app-container {
  height: 420px;
  width: 250px;
  overflow: hidden;
  border: #cccc 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px
}

.app-container img {
  height: 300px;
  overflow: hidden;
}

